<app-spinner></app-spinner>
<app-log *ngIf="user.type=='Administrador'"></app-log>


<div class="bg">
    <br>
<div class="container">

    
    
    <div class="row float-left">
        <div class="col-sm-8 col-md-6 col-lg-4">

    <div class="card text-white bg-dark mb-4 mx-auto" style="width: 60rem;">
            
    <article class="card-body" style="width: 60rem;">
            <div class="form-group" *appTypeValidator="['Administrador']">
                 <button type="menu"*ngFor="let esp of especialista" (click)="mandar(esp.data.name)" >{{esp.data.name}}</button>
                  </div>
<table appPanel id="tablaPDF" class="table table-sm table-hover table-info table-striped">
  <thead>
    <tr>
      <th class="text-center" colspan="7"><b>Lista de turnos</b></th>
    </tr>
    <tr>
     
      <th>DNI</th>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Especialista</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody *appTypeValidator="['Cliente']">
	<tr   *ngFor="let dentistShift of dentistShiftList">
   
	<td>{{dentistShift.data.dni}}</td>
	<td>{{dentistShift.data.date}}</td>
	<td>{{dentistShift.data.hour}}</td>
	<td>{{dentistShift.data.specialist}}</td>
    <td>{{dentistShift.data.status}}</td>
    <td><button class="btn-sm btn-danger" *ngIf="dentistShift.data.status=='Pedido'&& user.type=='Cliente' "  (click)="cancel(dentistShift.id)">Cancelar turno</button></td>
    <td><button class="btn-sm btn-info" *ngIf="user.type=='Cliente' && dentistShift.data.resena==true "  (click)="viewReview(dentistShift.id)">Ver reseña</button></td>
	<td><button class="btn-sm btn-secondary" *ngIf="user.type=='Cliente' && dentistShift.data.encuesta==false && dentistShift.data.resena==true "  (click)="openModal2(dentistShift.data.dni,dentistShift.id)">Realizar encuesta</button></td>
    </tr>
  </tbody>
  <tbody *appTypeValidator="['Administrador']" >
        <tr   *ngFor="let dentistShift of dentistShiftList | filterE:filtro ">
        
        <td>{{dentistShift.data.dni}}</td>
        <td>{{dentistShift.data.date}}</td>
        <td>{{dentistShift.data.hour}}</td>
        <td>{{dentistShift.data.specialist}}</td>
        <td>{{dentistShift.data.status}}</td>
        <td><button class="btn-sm btn-info" *ngIf="user.type=='Administrador' && dentistShift.data.encuesta==true "  (click)="openModal3(dentistShift.id)">Ver encuesta</button></td>
  </tbody>
  <tbody *appTypeValidator="['Especialista', 'Recepcionista']" >
        <tr   *ngFor="let dentistShift of dentistShiftList  ">
        
        <td>{{dentistShift.data.dni}}</td>
        <td>{{dentistShift.data.date}}</td>
        <td>{{dentistShift.data.hour}}</td>
        <td>{{dentistShift.data.specialist}}</td>
        <td>{{dentistShift.data.status}}</td>
        <td><button class="btn-sm btn-danger" *ngIf="dentistShift.data.status=='Pedido'&& user.type=='Recepcionista' "  (click)="cancel(dentistShift.id)">Cancelar turno</button></td>
	    <td><button class="btn-sm btn-success" *ngIf="dentistShift.data.status=='Pedido'&& user.type=='Especialista' " (click)="attend(dentistShift.id, dentistShift.data.dni, dentistShift.data.date, dentistShift.data.hour, dentistShift.data.specialist)">Atender turno</button></td>
        <td><button class="btn-sm btn-info" *ngIf="user.type=='Especialista' && dentistShift.data.resena==false " (click)="openModal1(dentistShift.id)">Enviar reseña</button></td>
        <td><button class="btn-sm btn-info" *ngIf="user.type=='Especialista' && dentistShift.data.encuesta==true "  (click)="openModal3(dentistShift.id)">Ver encuesta</button></td>
    </tbody>
</table>
</article>


</div> <!-- card.// -->
<button type="button"   *appTypeValidator="['Especialista', 'Recepcionista','Cliente']"  class="btn btn-success     mx-auto mb-4" (click)="generarPDF()" >Generar PDF</button>
</div>



<ng-template #modal1 let-modal class="card text-white bg-dark mb-3">
	
	

	<div class="card text-white bg-dark mb-3">

	<form [formGroup]="form1" class="card text-white bg-dark mb-3">
	
    <div class="modal-header">
        <h4 class="modal-title">
            <span>Reseña</span>
        </h4>
    
        <button type="button" class="close" aria-label="Close" (click)="closeModal1()">
            <span aria-hidden="true" >&times;</span>
        </button>
    </div>


    <div class="modal-body">
    	<p> <span>Código de turno:</span></p>
    	<input type="text" class="form-control" formControlName="code" [(ngModel)]="id" readonly>
    	<br>
        <p> <span>Descripción:</span></p>
       	<textarea class="form-control" formControlName="descReview" rows="3"></textarea>
    </div>
    <div class="modal-footer">
        <button type="submit" (click)="tryReview()" class="btn btn-warning">Enviar</button>
    </div>
    </form>
    
    </div>
	
</ng-template>

<ng-template #review let-modal class="card text-white bg-dark mb-3">
	
	

	<div class="card text-white bg-dark mb-3">


	
    <div class="modal-header">
        <h4 class="modal-title">
            <span>Reseña</span>
        </h4>
    
        <button type="button" class="close" aria-label="Close" (click)="closeReview()">
            <span aria-hidden="true" >&times;</span>
        </button>
    </div>
    
    <div class="modal-body" *ngFor="let review of reviews">
        <p> <span>Código de turno:</span></p>
        <p>{{review.data.code}}</p>
        <br>
        <p> <span>Descripción:</span></p>
        <textarea class="form-control" rows="3" readonly>{{review.data.desc}}</textarea>
    </div>
 
    </div>
	
</ng-template>

<ng-template #modal2 let-modal class="card text-white bg-dark mb-3">
	
	

	<div class="card text-white bg-dark mb-3">

	<form [formGroup]="form2" class="card text-white bg-dark mb-3">
        
    <div class="modal-header">
        <h4 class="modal-title">
            <span>Encuesta</span>
        </h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal2()">
            <span aria-hidden="true" >&times;</span>
        </button>
    </div>
    <div class="modal-body">
           
    	<p> <span>DNI:</span></p>
    	<input type="text" class="form-control" formControlName="dni" [(ngModel)]="dni" readonly>
    	<br>
    	<p> <span>Calificación clínica:</span></p>
        <input type="number" class="form-control" formControlName="clinic" min="0" max="10">
        
    	<br>
    	<p> <span>Calificación especialista:</span></p>
        <input type="number" class="form-control" formControlName="specialist" min="0" max="10">
        
    	<br>
        <p> <span>Descripción:</span></p>
       	<textarea class="form-control" formControlName="descPoll" rows="3"></textarea>
    </div>

    <div class="modal-footer">
            <small *ngIf="isMsj" class="text-left text-danger">Puntaje incorrecto! </small>
        <button type="submit" (click)="tryPoll()" class="btn btn-warning">Enviar</button>
    </div>

	</form>
    </div>
</ng-template>
<ng-template #encuesta let-modal class="card text-white bg-dark mb-3">
	
	

        <div class="card text-white bg-dark mb-3">
    
    
        
        <div class="modal-header">
            <h4 class="modal-title">
                <span>Encuesta</span>
            </h4>
        
            <button type="button" class="close" aria-label="Close" (click)="closeModal3()">
                <span aria-hidden="true" >&times;</span>
            </button>
        </div>
        
        <div class="modal-body" *ngFor="let poll of polls">
            <p> <span>Puntaje clinica:</span></p>
            <p>{{poll.data.clinic}}</p>
            <br>
            <p> <span>Puntaje especialista :</span></p>
            <p>{{poll.data.specialist}}</p>
            <br>
            <p> <span>Descripción:</span></p>
            <textarea class="form-control" rows="3" readonly>{{poll.data.desc}}</textarea>
        </div>
     
        </div>
        
    </ng-template>

